@model RegisterViewModel
@{
    ViewData["Title"] = "Register";
}

<style>
    .display-0 {
        font-size: calc(7px + 6vw);
    }
</style>

<div class="bgimguser d-flex align-items-center justify-content-center">

    <div class="container-fluid">
        <div class="pt-4">
            <div class="mt-4 mb-4 text-center">
                <p class="display-0 shadow2">@ViewData["Title"]</p>
            </div>
        </div>
        <div class="row d-flex justify-content-center" style="font-size: 1.2em">
            <div class="col-md-4">
                <div class="jumbotron">
                    <div class="">
                        <form asp-route-returnUrl="@ViewData["ReturnUrl"]" method="post">
                            <h4>Create a new account.</h4>
                            <hr />
                            <div asp-validation-summary="All" class="text-danger"></div>
                            <div class="form-group">
                                <label asp-for="Email"></label>
                                <input asp-for="Email" class="form-control" />
                                <span asp-validation-for="Email" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Password"></label>
                                <input asp-for="Password" class="form-control" />
                                <span asp-validation-for="Password" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="ConfirmPassword"></label>
                                <input asp-for="ConfirmPassword" class="form-control" />
                                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                            </div>
                            <button type="submit" class="btn btn-amber">Register</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
